<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>blogs</title>
</head>
<body>
    <h3><center><b><i>Today's Hots</i></b></center></h3>
    <a href="{% url 'web:index' %}">Home</a>
    <form action="{% url 'blog:blogs' %}" method="post" >
        {% csrf_token %}
        {% block content %}
        {% for blog in blogs %}
            <h2>{{blog.title}}</h2>
            <p>{{blog.description}}</p>
            <a href="#">Read More</a> <br>
            <img src="{{ blog.image.url }}" alt="img" width="200" height="200">
            <P>By {{blog.owner}} - {{blog.created}}</P><br>
            <h3>Comments</h3><br>
            {% if not blog.comments.all %}
                <p>0 comments.  </p> 
                <a href="{% url 'blog:comments' %}">Add comment</a>
            {% else %}
                {% for comment in blog.comments.all %}
                    <br>{{comment}}<br>
                   <strong>
                    {{comment.name}}, 
                    {{comment.date_added}}
                   </strong>
                {% endfor %}
            {% endif %} <br>
            <a href="{% url 'blog:comments' %}">Add comment</a>
        {% endfor %} <br><br>
        {% endblock content %}
    </form>
</body>
</html>