<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h3><b><i>Welcome Home </i></b></h3>
    <ul>
        {% if user.is_authenticated %}
            <li>Hello, {{user.username}} </li>
            <li><a href="{% url 'accounts:logout' %}">Logout</a></li>
            <li><a href="{% url 'blog:blogs' %}">Our Blog</a></li>
            <li><a href="{% url 'blog:create' %}">Create Blog</a></li>
            <li><a href="#">Change password</a></li> 
            <li><a href="#">Donate </a></li>
        {% else %}
            <li><a href="#">Blog</a></li>
            <li><a href="{% url 'accounts:login' %}">Login</a></li>
            <li><a href="{% url 'accounts:register' %}">Sign up</a></li>
        {% endif %}
    </ul>
    <form action="{% url 'web:index' %}" method="post">
        <h4><b><i>Contact us: </i></b></h4>
        {% csrf_token %}
        {{contact_form.as_p}}
        <input type="submit" value="Send">
    </form>
</body>
</html>